<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpllz.the16th.mapper.UserMapper">
    <resultMap id="userRestMap1" type="com.cpllz.the16th.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="pwd" property="pwd"/>
    </resultMap>


    <select id="getAllUser" resultMap="userRestMap1">
        select * from User
    </select>

    <select id="getUserByName" resultMap="userRestMap1">
        select * from User where name =#{name}
    </select>

    <select id="getUserById" resultMap="userRestMap1">
        select * from User where id =#{id}
    </select>
</mapper>
